@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  margin: 20px; /* Set the desired margin */
  padding: 20px; /* Optional: add padding inside the container */
  max-width: 1200px; /* Optional: set a max width for the container */
  margin-left: auto; /* Centering the container */
  margin-right: auto; /* Centering the container */
}
